@font-face {
    font-family: myFirstFont;
    src: url(./fonts/coldcoffee__2005______.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
}

h1{
	text-align: center;
	font-family: myFirstFont;
	font-size: 40pt;
}


h2{
	color: #330000;
	text-align: center;
	font-family: myFirstFont;
	font-size: 10pt;
}



body{
	background-image: url("./images/coffeebg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}