@font-face {
    font-family: myFirstFont;
    src: url(../fonts/coldcoffee__2005______.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
}

#countdown{
	font-family: myFirstFont;
	font-size: 20pt;
	float: left;
	color: #330000;
}

h2{
	color: #330000;
	text-align: center;
	font-family: myFirstFont;
	font-size: 10pt;
}



body{
	background-image: url("../images/coffeebg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}

img.reg{
	height:300px;
	width:300px;
}

#brewThis{
	position:absolute;
	top:30%;
	left:80%;
	width: 300px;
	height: 100px;
	font-size: 36px;
	opacity: 0.5;
}

#pusheen{
	position:absolute;
	top:0%;
	left:20%;
	font-size: 16px;
	width: "70%" ;
	height: "70%" ;
}

#findPusheen{
	position:absolute;
	top:20%;
	left:10%;
	width: 300px;
	height: 50px;
	font-size:36px;
}

#seePush{
	position:absolute;
	top:70%;
	left:20%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#kame{
	position:absolute;
	top:76%;
	left:90%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#bro{
	position:absolute;
	top:34%;
	left:90%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#reality{
	position:absolute;
	top:43%;
	left:67%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#french{
	position:absolute;
	top:98%;
	left:14%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#brewit{
	position:absolute;
	top:13%;
	left:89%;
	width: 100px;
	height: 50px;
	font-size: 16px;
}

#brewThis #popupdiv {display:none;}
#secrets #popupdiv {display:none;}
#brew #popupdiv {display:none;}
#findPusheen #popupdiv{display:none;}
#seePush #popupdiv{display:none;}
#veryDoge #popupdiv{display:none;}

#kame #popupdiv {display:none;}
#bro #popupdiv{display:none;}
#reality #popupdiv{display:none;}
#french #popupdiv{display:none;}
#brewit #popupdiv{display:none;}



#secrets:hover #popupdiv{display:block;}
#brewThis:hover #popupdiv{display:block;}
#brew:hover #popupdiv{display:block;}
#findPusheen:hover #popupdiv{display:block;}
#seePush:hover #popupdiv{display:block;}
#veryDoge:hover #popupdiv{display:block;}


#kame:hover #popupdiv {display:none;}
#bro:hover #popupdiv{display:none;}
#reality:hover #popupdiv{display:none;}
#french:hover #popupdiv{display:none;}
#brewit:hover #popupdiv{display:none;}



#doit{
	background: #ffffff;

	background-image: -webkit-linear-gradient(top, #ffffff, #DEB887);
	background-image: -moz-linear-gradient(top, #ffffff, #DEB887);
	background-image: -ms-linear-gradient(top, #ffffff, #DEB887);
	background-image: -o-linear-gradient(top, #ffffff, #DEB887);
	background-image: linear-gradient(to bottom, #ffffff, #DEB887);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 10px;
	font-family: myFirstFont;
	color: #330000;
	font-size:30px;
	padding:10px;
	text-decoration: none;

}

#doit:focus {outline:none;}

#doit:hover{
	background: #6F4E37;
	background-image: -webkit-linear-gradient(top, #330000, #6F4E37);
	background-image: -moz-linear-gradient(top, #330000, #6F4E37);
	background-image: -ms-linear-gradient(top, #330000, #6F4E37);
	background-image: -o-linear-gradient(top, #330000, #6F4E37);
	background-image: linear-gradient(to bottom, #330000, #6F4E37);
	color:#ffffff;
}

.carousel {

}

.carousel > *:not(:first-child) {
    display: none;
}


#veryDoge{
	position:absolute;
	top:80%;
	left:80%;
	width: 250px;
	height: 50px;
	font-size: 20px;
}

#doge{
	position:fixed;
	top:0px;
	left:0px;
}