<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>BrewM</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" 
        href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/static/js/env.js"></script>
</head>

<body>
    <h1>BrewM</h1>

    <div id="status">
    </div>

    <form method="post" action="">
        <label for="time">Brew in </label>
        <input id="time" type="text">
         <button id='doit'>Get that Joe</button> 
    </form>

    <p>Your exquisite coffee will begin its transformation in </p>

    <div class="" id="countdown">
    </div>

    <label>Coffee</label>
    <label>Water</label>
</body>

</html>
