<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>BrewM</title>
    <link rel="stylesheet" href="./fonts/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../static/js/env.js"></script>
</head>

<body>
    <h1>BrewM</h1>

    <div id="status">
    </div>

    <form method="post" action="">
        <h2><button id='doit'>Get that Joe <i class="fa fa-coffee fa-2x"></i> </button> </h2>
    </form>

    <div class="" id="countdown">
    </div>

    <label>Coffee</label>
    <label>Water</label>
</body>

</html>
